@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" ng-controller="randomPasswordController">
    <h4>
        Random Password Generator
    </h4>
    <form>


        <div class="form-group row col-xs-12 col-lg-12">
            <label for="chkUpperCase" class="col-xs-4 col-lg-3 control-label">Include UpperCase Characters</label>
            <div class="col-xs-2 col-lg-2 ">
                <input class="col-xs-2 col-lg-2" ng-model="GeneratePasswordReq.includeUpperCase" type="checkbox" id="chkUpperCase"/>
            </div>
        </div>
        <div class="form-group row col-xs-12 col-lg-12">
            <label for="chkLowerCase" class="col-xs-4 col-lg-3 control-label">Include Lower Characters</label>
            <div class="col-xs-2 col-lg-2 ">
                <input class="col-xs-2 col-lg-2" ng-model="GeneratePasswordReq.includeLowerCase" type="checkbox" id="chkLowerCase"/>
            </div>
        </div>
        <div class="form-group row col-xs-12 col-lg-12">
            <label for="chkNumber" class="col-xs-4 col-lg-3 control-label">Include Numbers</label>
            <div class="col-xs-2 col-lg-2 ">
                <input class="col-xs-2 col-lg-2" ng-model="GeneratePasswordReq.includeNumbers" type="checkbox" id="chkNumber"/>
            </div>
        </div>

        <div class="form-group row col-xs-12 col-lg-12">
            <label for="chkSpecialCase" class="col-xs-4 col-lg-3 control-label">Include Special Characters</label>
            <div class="col-xs-2 col-lg-2 ">
                <input class="col-xs-2 col-lg-2" ng-model="GeneratePasswordReq.includeSpecialChars" type="checkbox" id="chkSpecialCase"/>
            </div>
        </div>


        <div class="form-group row col-xs-12 col-lg-12">
            <label for="cboPasswordlength" class="col-xs-4 col-lg-3 control-label">Password Length</label>
            <div class="col-xs-2 col-lg-2 ">
                <select ng-model="GeneratePasswordReq.stringlength" id="cboPasswordlength">
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6" selected="selected">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                </select>
            </div>
        </div>
        <div class="form-group row col-xs-12 col-lg-12">
            <label for="txtNewPassword" class="col-xs-4 col-lg-3 control-label">Your New Password</label>
            <div class="col-xs-2 col-lg-2 ">
                <input readonly="readonly" class="form-control col-xs-7 col-lg-7" ng-value="result" ng-bind="result" type="text" id="txtNewPassword"/>
            </div>
        </div>
        <div id="button-fields" class="row col-xs-12 col-lg-12">
            <button ng-click="GeneratePassword(GeneratePasswordReq)" class="btn btn-primary btn-md">Generate Password</button>
            <button ng-click="Clear()" class="btn btn-primary btn-md">Clear</button>
        </div>


    </form>


</div>